* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 2.027rem;
    font-weight: 500;
}

h2 {
    font-size: 1.802rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 1.266rem;
    font-weight: 700;
    text-transform: uppercase;
}

header div {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    padding-left: 20px;
    padding-right: 10px;
    list-style: none;
    font-size: xx-large 
}

nav a {
    text-decoration: none; 
}

.imgred {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-top: 15px;
}

.sweetheart {
    padding-bottom: 50px;
}

.sweetheart a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.behind {
    background-color: #f8fafc;
    padding: 10px;
    align-content: center;
}

.people {
    background-color: #000;
    color: #fff;
    padding-top: 15px;
}

.people cite {
    display: flex;
    padding-bottom: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    text-align: center;
    background-color: #f8fafc;
}

.products p {
    font-size: larger;
}

footer {
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 15px;
    font-size: large;
}